# Custom script to enable wakeup for USB Mouse devices, the match is through enumerated USB Class(03h), Subclass(01h) and Interface(02h)
ACTION=="add" \
, SUBSYSTEM=="usb" \
, ENV{ID_USB_INTERFACES}==":030102:" \
, RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/power/wakeup'"


# Custom script to enable wakeup for USB (BT) Mouse devices, the match is through enumerated USB Class(e0h), Subclass(01h) and Interface(01h)
ACTION=="add" \
, SUBSYSTEM=="usb" \
, ENV{ID_USB_INTERFACES}==":e00101:" \
, RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/power/wakeup'"

#custom script to enable wakeup for USB hotplug, the match is through idVendor(1d6b) and iproduct (03 - hub)
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0003", ATTR{power/wakeup}="enabled", ATTR{power/usb3_hardware_lpm_u1}="enabled", ATTR{power/usb3_hardware_lpm_u2}="enabled"

#custom script to enable wakeup for USB hotplug, the match is through idVendor(1d6b) and iproduct (02 -USB 2.0  hub)
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0002", ATTR{power/wakeup}="enabled", ATTR{power/usb3_hardware_lpm_u1}="enabled", ATTR{power/usb3_hardware_lpm_u2}="enabled"
