#ACTION=="add", SUBSYSTEM=="pci", DRIVERS=="intel-lpss", ATTRS{device}=="0x4b4d", ATTRS{class}=="0x078000", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:19.2/dw*/power -name autosuspend_delay_ms `;do echo 1000 > $f;done'", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:19.2/dw*/power -name control`;do echo auto >  $f;done'"

#ACTION=="add", SUBSYSTEM=="pci", DRIVERS=="intel-lpss", ATTRS{device}=="0x4b28", ATTRS{class}=="0x078000", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:1e.0/dw*/power -name autosuspend_delay_ms `;do echo 1000 > $f;done'", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:1e.0/dw*/power -name control`;do echo auto >  $f;done'"

#ACTION=="add", SUBSYSTEM=="pci", DRIVERS=="intel-lpss", ATTRS{device}=="0x4b29", ATTRS{class}=="0x078000", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:1e.1/dw*/power -name autosuspend_delay_ms `;do echo 1000 > $f;done'", RUN+="/bin/sh -c 'for f in `find /sys/bus/pci/devices/0000:00:1e.1/dw*/power -name control`;do echo auto >  $f;done'"

ACTION=="add", SUBSYSTEM=="pci", ATTRS{device}=="0x4b96", RUN+="/bin/sh -c 'echo 1000 >/sys/bus/pci/devices/0000\:00\:11.0/power/autosuspend_delay_ms'"

ACTION=="add", SUBSYSTEM=="pci", ATTRS{device}=="0x4b97", RUN+="/bin/sh -c 'echo 1000 > /sys/bus/pci/devices/0000\:00\:11.1/power/autosuspend_delay_ms'"
