[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Reboot
Comment=reboot the machine safely
Exec=/sbin/reboot
Icon=system-reboot
Terminal=false
Categories=Utility;
StartupNotify=XFCE;
Categories=X-XFCE;X-Xfce-Toplevel;


Name[en_IN]=reboot.desktop
