require conf/include/adlink-common.inc


MACHINE ??= "intel-corei7-64"
LICENSE_FLAGS_ACCEPTED += "commercial"
USER_CLASSES ?= "buildstats "
DL_DIR ?= "${TOPDIR}/downloads"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_rpm"
SDKMACHINE ?= "x86_64"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-testapps tools-sdk "

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "2"


IMAGE_INSTALL:append = " bmap-tools"
IMAGE_INSTALL:append = " devmem2"
#Tools

# Test Tools
IMAGE_INSTALL:append = " alsa-utils alsa-tools ethtool tcpdump linuxptp fio glmark2 haveged hdparm hostapd i2c-tools iozone3 iptables iproute2 iperf3 libsocketcan \
lmbench memtester mmc-utils net-tools spidev-test stress-ng stressapptest kernel-devsrc "

KERNEL_VERSION_SANITY_SKIP="1"

BBMASK += "iotg-yocto-ese-main/recipes-multimedia/onevpl-intel-gpu/"
